@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

::-moz-selection{
  background:#740474;
  color:white;
  text-shadow:none
}

::selection{
  background:#740474;
  color:white;
  text-shadow:none
}

@font-face{
  font-family:iransans;

  font-weight:normal;

  src:url("../fonts/IRANSansWeb.woff") format("woff")
}

body{
  direction:rtl;
  box-sizing:border-box;
  -webkit-user-select:none
}

.user-selectable{
  -webkit-user-select:text
}

input{
  border-radius:0.375rem;
  margin-bottom:0.75rem;
  padding:0.75rem;
  width:100%
}

.transition-all-half{
  transition:all ease .5s
}

.transition-all-1{
  transition:all ease 1s
}

.transition-all-2{
  transition:all ease 2s
}

.login-container{
  background:url("../media/login-bg.jpg") top right;
  background-size:cover
}

.login-box{
  transition:all ease .5s
}

.main-nav{
  --tw-bg-opacity:1;
  background-color:rgba(88, 28, 135, var(--tw-bg-opacity));
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity));
  width:100vw
}

.main-dropdown{
  background-image:linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from:#7e22ce;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(126, 34, 206, 0));
  --tw-gradient-to:#581c87;
  display:none;
  font-size:0.875rem;
  line-height:1.25rem;
  position:absolute;
  left:0px;
  top:100%;
  --tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width:15rem
}

.main-dropdown-li:hover{
  --tw-bg-opacity:1;
  background-color:rgba(131, 24, 67, var(--tw-bg-opacity))
}

.main-dropdown-li{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  padding-left:0.75rem;
  padding-right:0.75rem;
  width:100%
}

.dropdown-holder{
  position:relative
}

.side-nav-li:hover{
  --tw-bg-opacity:1;
  background-color:rgba(131, 24, 67, var(--tw-bg-opacity))
}

.side-nav-li{
  --tw-bg-opacity:0.7;
  --tw-border-opacity:1;
  border-color:rgba(255, 255, 255, var(--tw-border-opacity));
  border-bottom-width:2px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:3.5rem;
  padding-left:1rem;
  padding-right:1rem;
  width:100%
}

main{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
  background-size:cover;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content:space-evenly;
  min-height:100vh;
  padding-top:1rem;
  padding-bottom:6rem;
  position:relative;
  text-align:right;
  width:100%;
  padding-top:10vh
}

@media (min-width: 768px){
  main{
    padding-right:14rem
  }
}

main{
  background:url("../media/main-bg.jpg") fixed top left
}

.input-norm{
  border-radius:0.375rem;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  padding:1rem;
  --tw-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

footer{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity));
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
  height:4rem;
  margin-top:2.5rem;
  padding:0.75rem;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  flex:1 1 100%
}

@media (min-width: 768px){
  footer{
    padding-right:16rem
  }
}

.btn{
  border-radius:1.5rem;
  font-size:1.125rem;
  line-height:1.75rem
}

.btn:focus{
  outline:2px solid transparent;
  outline-offset:2px
}

.btn{
  padding-top:0.75rem;
  padding-bottom:0.75rem;
  padding-left:2rem;
  padding-right:2rem;
  border:1px solid transparent
}

.btn:focus{
  border:1px solid #333333
}

.btn-secondary{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  --tw-bg-opacity:0.95;
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.btn-primary{
  --tw-bg-opacity:1;
  background-color:rgba(88, 28, 135, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.btn-success{
  --tw-bg-opacity:1;
  background-color:rgba(74, 222, 128, var(--tw-bg-opacity));
  border-radius:0.125rem;
  padding:0.75rem
}

.btn-cancel{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity));
  padding:0.75rem;
  --tw-text-opacity:1;
  color:rgba(220, 38, 38, var(--tw-text-opacity))
}

.btn-delete{
  --tw-bg-opacity:1;
  background-color:rgba(252, 165, 165, var(--tw-bg-opacity));
  border-radius:0.125rem;
  padding:0.75rem
}

.btn-small{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius:0.125rem;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:flex-start;
  padding:0.75rem;
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.btn-small i{
  font-size:1.125rem;
  line-height:1.75rem;
  margin-left:0.75rem
}

.btn-low-profile{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity));
  border-radius:0.5rem;
  padding:0.75rem
}

.btn-border{
  --tw-border-opacity:1;
  border-color:rgba(36, 36, 36, var(--tw-border-opacity));
  border-width:2px
}

.btn-muted{
  --tw-bg-opacity:1;
  background-color:rgba(226, 232, 240, var(--tw-bg-opacity));
  border-radius:0.125rem;
  padding:0.75rem
}

.save-cancel{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  padding:0.5rem
}

.save-cancel button:first-child{
  --tw-bg-opacity:1;
  background-color:rgba(22, 163, 74, var(--tw-bg-opacity));
  border-radius:0.125rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-left:1rem;
  padding-right:1rem;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.save-cancel button:last-child{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity));
  --tw-border-opacity:1;
  border-color:rgba(252, 165, 165, var(--tw-border-opacity));
  border-radius:0.125rem;
  border-width:2px;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-left:1rem;
  padding-right:1rem
}

.save{
  margin-top:1rem
}

.save button{
  --tw-bg-opacity:1;
  background-color:rgba(22, 163, 74, var(--tw-bg-opacity));
  border-radius:0.125rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-left:1rem;
  padding-right:1rem;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.class-setting-item.open{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-width:0px
}

.class-setting-item.open .connector{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
  display:block;
  width:100%;
  height:4.5rem
}

.search-and-button{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content:space-between;
  margin-bottom:2.5rem;
  padding-left:2.5rem;
  padding-right:2.5rem;
  width:100%
}

.search-and-button.join{
  margin-bottom:0px
}

.search-and-button.join>button{
  height:6rem
}

.search-and-button.join>div{
  height:initial
}

.search-and-button>button{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  border-radius:0.125rem;
  margin-left:1rem;
  padding:1.25rem;
  height:4.5rem
}

.search-and-button>div{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  border-radius:0.125rem;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  flex:1 1 0%;
  position:relative;
  height:4.5rem
}

.search-and-button>div div:first-child{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
  flex:1 1 100%
}

.search-and-button>div input, .search-and-button>div select{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  border-radius:0.125rem;
  height:100%;
  padding:1.25rem
}

.search-and-button>div span{
  padding:1.25rem;
  --tw-text-opacity:1;
  color:rgba(148, 163, 184, var(--tw-text-opacity))
}

.search-and-button>div select{
  --tw-border-opacity:1;
  border-color:rgba(36, 36, 36, var(--tw-border-opacity));
  border-right-width:2px;
  width:9rem
}

.search-and-button div.search-box{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity));
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  position:absolute;
  left:0px;
  top:100%;
  --tw-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width:100%;
  z-index:20;
  flex:1 1 100%
}

.search-and-button div.search-box ul{
  flex:1 1 100%
}

.search-and-button div.search-box li:hover{
  --tw-bg-opacity:1;
  background-color:rgba(249, 168, 212, var(--tw-bg-opacity))
}

.search-and-button div.search-box li{
  --tw-border-opacity:1;
  border-color:rgba(71, 85, 105, var(--tw-border-opacity));
  border-top-width:2px;
  cursor:pointer;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  flex:1 1 100%
}

.search-and-button div.search-box li span{
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.search-and-button div.search-box li span:last-child{
  flex:1 1 0%
}

.full-edit-box{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:flex-start;
  margin-bottom:1rem;
  padding:1.25rem
}

.full-edit-box>div{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  height:100%;
  margin-bottom:2.5rem;
  flex:0 1 calc(100% / 6);
  height:5rem
}

.full-edit-box>div span{
  font-size:0.875rem;
  line-height:1.25rem;
  margin-bottom:0.5rem;
  --tw-text-opacity:1;
  color:rgba(71, 85, 105, var(--tw-text-opacity));
  flex:1 1 100%
}

.full-edit-box>div input, .full-edit-box>div select{
  --tw-border-opacity:1;
  border-color:rgba(252, 165, 165, var(--tw-border-opacity));
  border-radius:0.125rem;
  border-width:2px;
  height:100%;
  padding:0.5rem;
  width:100%
}

.full-edit-box>div.accepted input, .full-edit-box>div.accepted select{
  --tw-border-opacity:1;
  border-color:rgba(74, 222, 128, var(--tw-border-opacity))
}

.full-edit-box>div .input-group{
  height:100%;
  width:100%;
  height:5rem
}

.time-select{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:flex-start;
  padding:1.25rem
}

.time-select>h3{
  font-weight:700;
  font-size:0.875rem;
  line-height:1.25rem;
  margin-bottom:1rem;
  flex:1 1 100%
}

.time-select>div{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  flex:1 1 0%
}

.time-select>div>div{
  display:flex;
  align-items:center;
  margin-bottom:0.5rem
}

.time-select>div>div span{
  font-size:1.125rem;
  line-height:1.75rem;
  margin-left:1rem
}

.time-select>div>div i{
  font-size:1.25rem;
  line-height:1.75rem
}

.time-select>div select{
  padding:0.5rem;
  --tw-border-opacity:1;
  border-color:rgba(252, 165, 165, var(--tw-border-opacity));
  border-width:2px
}

.single-class-container{
  --tw-bg-opacity:1;
  background-color:rgba(236, 72, 153, var(--tw-bg-opacity));
  border-radius:0.5rem;
  margin-bottom:1rem;
  padding:0.75rem;
  text-align:center;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.word-of-day{
  background-color:purple;
  background:url("../media/wordofday.jpg") no-repeat center center;
  background-size:cover
}

.main-section{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  border-radius:0.5rem;
  margin-bottom:1.25rem;
  padding:1.25rem;
  width:100%
}

.main-section .section-title{
  display:flex;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:center;
  margin-bottom:1.5rem
}

.main-section .section-title hr{
  --tw-bg-opacity:1;
  background-color:rgba(148, 163, 184, var(--tw-bg-opacity));
  --tw-border-opacity:1;
  border-color:rgba(148, 163, 184, var(--tw-border-opacity));
  flex:1 1 0%;
  height:0.25rem;
  border-radius:25px
}

.main-section .section-title h3{
  padding-left:0.5rem;
  padding-right:0.5rem
}

.main-section .section-title-2 h2{
  font-weight:700
}

.main-section .section-title-2 hr{
  margin-bottom:1rem
}

.big-section{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity));
  margin-bottom:4rem;
  padding-top:2.5rem;
  padding-bottom:2.5rem;
  padding-left:2.5rem;
  padding-right:2.5rem;
  text-align:right;
  width:100%
}

.big-section .section-title{
  margin-bottom:2rem
}

.big-section .section-title h2{
  font-size:1.25rem;
  line-height:1.75rem
}

.settings-bar ul li{
  padding-left:2.5rem;
  padding-right:2.5rem
}

.setting-active{
  --tw-bg-opacity:1;
  background-color:rgba(126, 34, 206, var(--tw-bg-opacity));
  display:flex;
  flex-direction:row;
  align-items:center;
  height:100%;
  padding-left:2.5rem;
  padding-right:2.5rem;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.setting-item{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity));
  border-radius:0.5rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:0.75rem;
  padding:1rem
}

.setting-item-active{
  --tw-bg-opacity:1;
  background-color:rgba(249, 168, 212, var(--tw-bg-opacity))
}

.table-norm{
  --tw-border-opacity:1;
  border-color:rgba(190, 24, 93, var(--tw-border-opacity));
  border-width:4px;
  text-align:center;
  width:100%
}

.table-norm .header{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.table-norm tr:not(.header){
  --tw-border-opacity:1;
  border-color:rgba(191, 219, 254, var(--tw-border-opacity));
  border-bottom-width:2px
}

.table-norm tr:not(.header):nth-child(1n+0){
  --tw-bg-opacity:1;
  background-color:rgba(134, 239, 172, var(--tw-bg-opacity))
}

.table-norm tr:not(.header):nth-child(2n+0){
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity))
}

.table-norm td, .table-norm th{
  padding:1rem
}

.table-norm td{
  --tw-border-opacity:1;
  border-color:rgba(191, 219, 254, var(--tw-border-opacity));
  border-left-width:2px
}

.table-norm th{
  font-weight:700
}

.pagination ul{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:flex-end;
  width:100%
}

.pagination ul li{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity))
}

.pagination ul li:hover{
  --tw-bg-opacity:1;
  background-color:rgba(131, 24, 67, var(--tw-bg-opacity))
}

.pagination ul li{
  border-radius:0.125rem;
  height:3.5rem;
  margin-left:0.75rem;
  padding:1rem;
  padding-left:1.25rem;
  padding-right:1.25rem;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.pagination ul li.active{
  --tw-bg-opacity:1;
  background-color:rgba(251, 207, 232, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.pagination ul li.dots{
  --tw-bg-opacity:0;
  font-size:1.5rem;
  line-height:2rem;
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.timetable{
  text-align:center;
  width:100%
}

.timetable tr{
  --tw-border-opacity:1;
  border-color:rgba(191, 219, 254, var(--tw-border-opacity));
  border-bottom-width:2px;
  max-height:6rem
}

.timetable tr td:first-child{
  --tw-bg-opacity:1;
  background-color:rgba(30, 41, 59, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.timetable tr:nth-child(odd){
  --tw-bg-opacity:1;
  background-color:rgba(220, 252, 231, var(--tw-bg-opacity))
}

.timetable tr:nth-child(even){
  --tw-bg-opacity:1;
  background-color:rgba(233, 213, 255, var(--tw-bg-opacity))
}

.timetable tr:first-child{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.timetable th{
  padding:1rem;
  direction:ltr
}

.timetable td{
  --tw-border-opacity:1;
  border-color:rgba(191, 219, 254, var(--tw-border-opacity));
  border-left-width:2px;
  vertical-align:middle
}

.timetable td>div{
  max-height:11rem;
  overflow:auto;
  padding:1rem
}

.timetable .timetable-item{
  --tw-bg-opacity:1;
  background-color:rgba(100, 116, 139, var(--tw-bg-opacity));
  border-radius:0.5rem;
  font-size:0.75rem;
  line-height:1rem;
  margin-bottom:0.5rem;
  padding:0.75rem;
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.timetable .timetable-item p:first-child{
  font-weight:700;
  font-size:0.875rem;
  line-height:1.25rem;
  flex:1 1 100%
}

.timetable .timetable-item div:first-child{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
  margin-top:0.5rem
}

.timetable-select tr:nth-child(even){
  --tw-bg-opacity:1;
  background-color:rgba(34, 197, 94, var(--tw-bg-opacity))
}

.timetable-select tr:nth-child(odd){
  --tw-bg-opacity:1;
  background-color:rgba(34, 197, 94, var(--tw-bg-opacity))
}

.timetable-select tr:first-child{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.timetable-select td.error{
  --tw-bg-opacity:1;
  background-color:rgba(248, 113, 113, var(--tw-bg-opacity))
}

.password-validator{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  font-size:0.875rem;
  line-height:1.25rem;
  padding:1rem
}

.password-validator li{
  flex-basis:40%;
  margin-bottom:0.5rem;
  --tw-text-opacity:1;
  color:rgba(148, 163, 184, var(--tw-text-opacity))
}

.password-validator li.valid{
  --tw-text-opacity:1;
  color:rgba(21, 128, 61, var(--tw-text-opacity))
}

.form-error{
  z-index:100;
  text-align:right;
  padding:5px;
  color:indianred;
  font-size:13px;
  margin-top:2px
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

/**
Restore the focus styles unset by the previous rule.
*/

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: iransans, tahoma, sans-serif; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e2e8f0; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their instrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  white-space:nowrap;
  border-width:0
}

.appearance-none{
  appearance:none
}

.bg-black{
  --tw-bg-opacity:1;
  background-color:rgba(36, 36, 36, var(--tw-bg-opacity))
}

.bg-purple-800{
  --tw-bg-opacity:1;
  background-color:rgba(107, 33, 168, var(--tw-bg-opacity))
}

.bg-pink-500{
  --tw-bg-opacity:1;
  background-color:rgba(236, 72, 153, var(--tw-bg-opacity))
}

.bg-pink-700{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity))
}

.bg-gray-100{
  --tw-bg-opacity:1;
  background-color:rgba(241, 245, 249, var(--tw-bg-opacity))
}

.bg-gray-300{
  --tw-bg-opacity:1;
  background-color:rgba(203, 213, 225, var(--tw-bg-opacity))
}

.bg-gray-700{
  --tw-bg-opacity:1;
  background-color:rgba(51, 65, 85, var(--tw-bg-opacity))
}

.bg-green-300{
  --tw-bg-opacity:1;
  background-color:rgba(134, 239, 172, var(--tw-bg-opacity))
}

.bg-green-700{
  --tw-bg-opacity:1;
  background-color:rgba(21, 128, 61, var(--tw-bg-opacity))
}

.bg-green-900{
  --tw-bg-opacity:1;
  background-color:rgba(20, 83, 45, var(--tw-bg-opacity))
}

.bg-blue-900{
  --tw-bg-opacity:1;
  background-color:rgba(30, 58, 138, var(--tw-bg-opacity))
}

.bg-white{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity))
}

.hover\:bg-pink-700:hover{
  --tw-bg-opacity:1;
  background-color:rgba(190, 24, 93, var(--tw-bg-opacity))
}

.hover\:bg-gray-400:hover{
  --tw-bg-opacity:1;
  background-color:rgba(148, 163, 184, var(--tw-bg-opacity))
}

.hover\:bg-gray-700:hover{
  --tw-bg-opacity:1;
  background-color:rgba(51, 65, 85, var(--tw-bg-opacity))
}

.hover\:bg-white:hover{
  --tw-bg-opacity:1;
  background-color:rgba(255, 255, 255, var(--tw-bg-opacity))
}

.bg-gradient-to-tr{
  background-image:linear-gradient(to top right, var(--tw-gradient-stops))
}

.bg-gradient-to-r{
  background-image:linear-gradient(to right, var(--tw-gradient-stops))
}

.from-purple-700{
  --tw-gradient-from:#7e22ce;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(126, 34, 206, 0))
}

.from-purple-900{
  --tw-gradient-from:#581c87;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(88, 28, 135, 0))
}

.from-pink-400{
  --tw-gradient-from:#f472b6;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 114, 182, 0))
}

.from-green-600{
  --tw-gradient-from:#16a34a;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(22, 163, 74, 0))
}

.from-blue-600{
  --tw-gradient-from:#2563eb;
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(37, 99, 235, 0))
}

.to-purple-700{
  --tw-gradient-to:#7e22ce
}

.to-purple-900{
  --tw-gradient-to:#581c87
}

.to-green-900{
  --tw-gradient-to:#14532d
}

.to-blue-900{
  --tw-gradient-to:#1e3a8a
}

.bg-opacity-70{
  --tw-bg-opacity:0.7
}

.bg-opacity-80{
  --tw-bg-opacity:0.8
}

.bg-opacity-90{
  --tw-bg-opacity:0.9
}

.hover\:bg-opacity-90:hover{
  --tw-bg-opacity:0.9
}

.hover\:bg-opacity-100:hover{
  --tw-bg-opacity:1
}

.border-black{
  --tw-border-opacity:1;
  border-color:rgba(36, 36, 36, var(--tw-border-opacity))
}

.border-pink-400{
  --tw-border-opacity:1;
  border-color:rgba(244, 114, 182, var(--tw-border-opacity))
}

.border-gray-300{
  --tw-border-opacity:1;
  border-color:rgba(203, 213, 225, var(--tw-border-opacity))
}

.border-gray-400{
  --tw-border-opacity:1;
  border-color:rgba(148, 163, 184, var(--tw-border-opacity))
}

.border-gray-500{
  --tw-border-opacity:1;
  border-color:rgba(100, 116, 139, var(--tw-border-opacity))
}

.border-gray-600{
  --tw-border-opacity:1;
  border-color:rgba(71, 85, 105, var(--tw-border-opacity))
}

.border-white{
  --tw-border-opacity:1;
  border-color:rgba(255, 255, 255, var(--tw-border-opacity))
}

.rounded-none{
  border-radius:0px
}

.rounded-sm{
  border-radius:0.125rem
}

.rounded{
  border-radius:0.25rem
}

.rounded-md{
  border-radius:0.375rem
}

.rounded-lg{
  border-radius:0.5rem
}

.rounded-xl{
  border-radius:0.75rem
}

.rounded-3xl{
  border-radius:1.5rem
}

.rounded-full{
  border-radius:9999px
}

.rounded-b-none{
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px
}

.rounded-tr-none{
  border-top-right-radius:0px
}

.rounded-br-none{
  border-bottom-right-radius:0px
}

.rounded-tl-full{
  border-top-left-radius:9999px
}

.rounded-tr-full{
  border-top-right-radius:9999px
}

.rounded-br-full{
  border-bottom-right-radius:9999px
}

.rounded-bl-full{
  border-bottom-left-radius:9999px
}

.border-2{
  border-width:2px
}

.border{
  border-width:1px
}

.border-b-0{
  border-bottom-width:0px
}

.border-r-2{
  border-right-width:2px
}

.border-b-2{
  border-bottom-width:2px
}

.border-l-2{
  border-left-width:2px
}

.cursor-pointer{
  cursor:pointer
}

.flex{
  display:flex
}

.table{
  display:table
}

.hidden{
  display:none
}

.flex-row{
  flex-direction:row
}

.flex-col{
  flex-direction:column
}

.flex-wrap{
  flex-wrap:wrap
}

.flex-nowrap{
  flex-wrap:nowrap
}

.items-start{
  align-items:flex-start
}

.items-end{
  align-items:flex-end
}

.items-center{
  align-items:center
}

.justify-start{
  justify-content:flex-start
}

.justify-end{
  justify-content:flex-end
}

.justify-center{
  justify-content:center
}

.justify-between{
  justify-content:space-between
}

.justify-evenly{
  justify-content:space-evenly
}

.flex-1{
  flex:1 1 0%
}

.order-1{
  order:1
}

.order-2{
  order:2
}

.font-sans{
  font-family:iransans, tahoma, sans-serif
}

.font-bold{
  font-weight:700
}

.font-black{
  font-weight:900
}

.h-8{
  height:2rem
}

.h-14{
  height:3.5rem
}

.h-16{
  height:4rem
}

.h-20{
  height:5rem
}

.h-28{
  height:7rem
}

.h-full{
  height:100%
}

.text-xs{
  font-size:0.75rem;
  line-height:1rem
}

.text-sm{
  font-size:0.875rem;
  line-height:1.25rem
}

.text-base{
  font-size:1rem;
  line-height:1.5rem
}

.text-lg{
  font-size:1.125rem;
  line-height:1.75rem
}

.text-xl{
  font-size:1.25rem;
  line-height:1.75rem
}

.text-2xl{
  font-size:1.5rem;
  line-height:2rem
}

.text-4xl{
  font-size:2.25rem;
  line-height:2.5rem
}

.text-6xl{
  font-size:3.75rem;
  line-height:1
}

.list-inside{
  list-style-position:inside
}

.list-disc{
  list-style-type:disc
}

.m-0{
  margin:0px
}

.m-2{
  margin:0.5rem
}

.m-10{
  margin:2.5rem
}

.my-2{
  margin-top:0.5rem;
  margin-bottom:0.5rem
}

.mx-2{
  margin-left:0.5rem;
  margin-right:0.5rem
}

.my-4{
  margin-top:1rem;
  margin-bottom:1rem
}

.my-5{
  margin-top:1.25rem;
  margin-bottom:1.25rem
}

.mx-10{
  margin-left:2.5rem;
  margin-right:2.5rem
}

.mx-auto{
  margin-left:auto;
  margin-right:auto
}

.mb-0{
  margin-bottom:0px
}

.mt-1{
  margin-top:0.25rem
}

.mr-1{
  margin-right:0.25rem
}

.mt-2{
  margin-top:0.5rem
}

.mr-2{
  margin-right:0.5rem
}

.mb-2{
  margin-bottom:0.5rem
}

.ml-2{
  margin-left:0.5rem
}

.mr-3{
  margin-right:0.75rem
}

.mb-3{
  margin-bottom:0.75rem
}

.ml-3{
  margin-left:0.75rem
}

.mt-4{
  margin-top:1rem
}

.mr-4{
  margin-right:1rem
}

.mb-4{
  margin-bottom:1rem
}

.ml-4{
  margin-left:1rem
}

.mt-5{
  margin-top:1.25rem
}

.mb-5{
  margin-bottom:1.25rem
}

.mb-8{
  margin-bottom:2rem
}

.ml-8{
  margin-left:2rem
}

.mt-10{
  margin-top:2.5rem
}

.mr-10{
  margin-right:2.5rem
}

.mb-10{
  margin-bottom:2.5rem
}

.ml-10{
  margin-left:2.5rem
}

.mt-14{
  margin-top:3.5rem
}

.mb-20{
  margin-bottom:5rem
}

.mr-auto{
  margin-right:auto
}

.max-h-screen{
  max-height:100vh
}

.outline-none{
  outline:2px solid transparent;
  outline-offset:2px
}

.overflow-hidden{
  overflow:hidden
}

.overflow-y-auto{
  overflow-y:auto
}

.overflow-x-hidden{
  overflow-x:hidden
}

.p-0{
  padding:0px
}

.p-2{
  padding:0.5rem
}

.p-3{
  padding:0.75rem
}

.p-4{
  padding:1rem
}

.p-5{
  padding:1.25rem
}

.p-8{
  padding:2rem
}

.p-10{
  padding:2.5rem
}

.p-12{
  padding:3rem
}

.py-0{
  padding-top:0px;
  padding-bottom:0px
}

.py-1{
  padding-top:0.25rem;
  padding-bottom:0.25rem
}

.px-1{
  padding-left:0.25rem;
  padding-right:0.25rem
}

.px-2{
  padding-left:0.5rem;
  padding-right:0.5rem
}

.px-3{
  padding-left:0.75rem;
  padding-right:0.75rem
}

.py-4{
  padding-top:1rem;
  padding-bottom:1rem
}

.py-5{
  padding-top:1.25rem;
  padding-bottom:1.25rem
}

.px-5{
  padding-left:1.25rem;
  padding-right:1.25rem
}

.pb-0{
  padding-bottom:0px
}

.pt-4{
  padding-top:1rem
}

.pr-5{
  padding-right:1.25rem
}

.pl-5{
  padding-left:1.25rem
}

.pl-8{
  padding-left:2rem
}

.pr-10{
  padding-right:2.5rem
}

.pb-10{
  padding-bottom:2.5rem
}

.pl-10{
  padding-left:2.5rem
}

.fixed{
  position:fixed
}

.absolute{
  position:absolute
}

.relative{
  position:relative
}

.top-0{
  top:0px
}

.right-0{
  right:0px
}

.bottom-0{
  bottom:0px
}

.top-8{
  top:2rem
}

.top-24{
  top:6rem
}

.top-full{
  top:100%
}

*{
  --tw-shadow:0 0 #0000
}

.shadow-lg{
  --tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-2xl{
  --tw-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

*{
  --tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000
}

.text-left{
  text-align:left
}

.text-center{
  text-align:center
}

.text-right{
  text-align:right
}

.text-black{
  --tw-text-opacity:1;
  color:rgba(36, 36, 36, var(--tw-text-opacity))
}

.text-pink-700{
  --tw-text-opacity:1;
  color:rgba(190, 24, 93, var(--tw-text-opacity))
}

.text-gray-400{
  --tw-text-opacity:1;
  color:rgba(148, 163, 184, var(--tw-text-opacity))
}

.text-gray-500{
  --tw-text-opacity:1;
  color:rgba(100, 116, 139, var(--tw-text-opacity))
}

.text-gray-600{
  --tw-text-opacity:1;
  color:rgba(71, 85, 105, var(--tw-text-opacity))
}

.text-white{
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.hover\:text-white:hover{
  --tw-text-opacity:1;
  color:rgba(255, 255, 255, var(--tw-text-opacity))
}

.uppercase{
  text-transform:uppercase
}

.underline{
  text-decoration:underline
}

.w-14{
  width:3.5rem
}

.w-20{
  width:5rem
}

.w-28{
  width:7rem
}

.w-40{
  width:10rem
}

.w-52{
  width:13rem
}

.w-56{
  width:14rem
}

.w-1\/4{
  width:25%
}

.w-3\/4{
  width:75%
}

.w-5\/12{
  width:41.666667%
}

.w-7\/12{
  width:58.333333%
}

.w-8\/12{
  width:66.666667%
}

.w-full{
  width:100%
}

.w-screen{
  width:100vw
}

.z-20{
  z-index:20
}

.scale-100{
  --tw-scale-x:1;
  --tw-scale-y:1
}

.transition-all{
  transition-property:all;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}

@keyframes spin{
  to{
    transform:rotate(360deg)
  }
}

@keyframes ping{
  75%, 100%{
    transform:scale(2);
    opacity:0
  }
}

@keyframes pulse{
  50%{
    opacity:.5
  }
}

@keyframes bounce{
  0%, 100%{
    transform:translateY(-25%);
    animation-timing-function:cubic-bezier(0.8,0,1,1)
  }

  50%{
    transform:none;
    animation-timing-function:cubic-bezier(0,0,0.2,1)
  }
}

.pt-10v{
  padding-top:10vh
}

.flex-fullrow{
  flex:1 1 100%
}

.h-inherit{
  height:inherit
}

.h-8v{
  height:8vh
}

.h-92v{
  height:92vh
}

.w-30p{
  width:30%
}

.w-48p{
  width:48%
}

.ltr{
  direction:ltr
}

.text-shadow{
  text-shadow:0 3px 6px rgba(0,0,0,0.6)
}

.border-danger{
  --tw-border-opacity:1;
  border-color:rgba(252, 165, 165, var(--tw-border-opacity));
  border-width:2px
}

@media (min-width: 640px){
  .sm\:inline-block{
    display:inline-block
  }

  .sm\:order-1{
    order:1
  }

  .sm\:h-screen{
    height:100vh
  }

  .sm\:text-lg{
    font-size:1.125rem;
    line-height:1.75rem
  }

  .sm\:p-10{
    padding:2.5rem
  }

  .sm\:w-3\/4{
    width:75%
  }

  .sm\:w-full{
    width:100%
  }
}

@media (min-width: 768px){
  .md\:flex{
    display:flex
  }

  .md\:justify-start{
    justify-content:flex-start
  }

  .md\:pr-56{
    padding-right:14rem
  }

  .md\:absolute{
    position:absolute
  }

  .md\:text-right{
    text-align:right
  }

  .md\:w-4\/6{
    width:66.666667%
  }
}

@media (min-width: 1024px){
  .lg\:w-1\/2{
    width:50%
  }

  .lg\:w-2\/5{
    width:40%
  }
}

@media (min-width: 1280px){
}

@media (min-width: 1536px){
  .\32xl\:items-center{
    align-items:center
  }
}
